* {
    box-sizing: border-box;
    background-color: rgb(64, 67, 71);
    color: white;
    font-family: sans-serif;
}

[class *= "col-"] {
    float: left;
    padding: 5%;
    width: 100%;
    border: 1px solid black;
}

#header {
    text-align: center;
    font-size: 5em;
}

.pargraph {
    font-size: 2em;
    text-align: left;
}